asgiref
certifi
charset-normalizer
dj-database-url
dj-rest-auth
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
idna
oauthlib
Pillow
psycopg2-binary
PyJWT
python-dotenv
requests
sqlparse
stripe
whitenoise
