asgiref
corsheaders
distlib
django
dj-database-url
djangorestframework
dotenv
filelock
gunicorn
numpy
packaging
Pillow
platformdirs
psycopg2-binary
six
sqlparse
typing-extensions
tzdata
virtualenv
whitenoise
